{% extends 'main.html' %}


{% block content %}

<main class="layout">
    <div class="container">

        <div class="topics">
            {% include 'base/topic_block.html' %}
        </div>

        <div class="rooms">
            <h1>Комнаты</h1>
            <h4>Количество комнат: {{count_rooms}}</h4>

            {% include 'base/room_block.html' %}
        </div>

        <div class="activity">
            {% include 'base/activity_block.html' %}
        </div>

    </div>
</main>
{% endblock %}

