{% extends 'main.html' %}

{% block content %}
    <style>
        .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        }
    </style>

    <div class="profile-container">
        <div>
            {% include 'base/topic_block.html' %}
        </div>

        <div>
            <h2>{{user.username}}</h2>

            {% include 'base/room_block.html' %}
        </div>

        <div>
            {% include 'base/activity_block.html' %}
        </div>
    </div>

{% endblock %}